---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "About us";
const langToggleUrl = "/ueber-uns";
---
<BaseLayout {title} {langToggleUrl}>
  <h1>About us</h1>
  <p>TaoSun GmbH was founded to provide sustainable solar technology at fair prices.</p>
</BaseLayout>
