---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "Contact";
const langToggleUrl = "/kontakt";
---
<BaseLayout {title} {langToggleUrl}>
  <h1>Contact</h1>
  <form action="mailto:info@taosun.de" method="POST" enctype="text/plain">
    <p><label>Name:<br/><input type="text" name="name" required></label></p>
    <p><label>Email:<br/><input type="email" name="email" required></label></p>
    <p><label>Message:<br/><textarea name="message" rows="5" required></textarea></label></p>
    <p><button type="submit">Send</button></p>
  </form>
</BaseLayout>
