---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "FAQ";
const langToggleUrl = "/faq";
---
<BaseLayout {title} {langToggleUrl}>
  <h1>FAQ</h1>
  <h2>Does Taosun offer installations?</h2>
  <p>Yes, via our partners.</p>
</BaseLayout>
