---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "FAQ";
const langToggleUrl = "/en/faq";
---
<BaseLayout {title} {langToggleUrl}>
  <h1>FAQ</h1>
  <h2>Bietet Taosun auch Installationen an?</h2>
  <p>Ja, über unsere Partner.</p>
</BaseLayout>
