---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Kontakt";
const langToggleUrl = "/en/contact";
---
<BaseLayout {title} {langToggleUrl}>
  <h1>Kontakt</h1>
  <form action="mailto:info@taosun.de" method="POST" enctype="text/plain">
    <p><label>Name:<br/><input type="text" name="name" required></label></p>
    <p><label>E-Mail:<br/><input type="email" name="email" required></label></p>
    <p><label>Nachricht:<br/><textarea name="message" rows="5" required></textarea></label></p>
    <p><button type="submit">Absenden</button></p>
  </form>
</BaseLayout>
