---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Über uns";
const langToggleUrl = "/en/about";
---
<BaseLayout {title} {langToggleUrl}>
  <h1>Über uns</h1>
  <p>Die Taosun GmbH wurde gegründet, um nachhaltige Solartechnik zu fairen Preisen anzubieten.</p>
</BaseLayout>
