---
const locale = Astro.currentLocale;
---
<footer>
  <p><strong>Taosun GmbH</strong> – Georg-Sasse-Straße 24, 22949 Ammersbek</p>
  <p>Tel: <a href="tel:+49-40-123456">+49 40 123456</a> – 
     E-Mail: <a href="mailto:info@taosun.de">info@taosun.de</a></p>
  <p>© {new Date().getFullYear()} Taosun GmbH. <a href="#">Impressum</a> | <a href="#">Datenschutz</a></p>
</footer>
